@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "__variables";
@import "__breakpoints";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centeredItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html,
body {
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    @extend .centeredItems;
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // -moz-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
    font-family: "Inter", "Sans-serif";
}

@media (max-width: map.get($breakpoints, "xl")) {
    .centeredItem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        background-color: $white;
        height: 60vh;
        width: 40vw;
        @extend .centeredItem;
        text-align: center;
        justify-content: space-evenly;
        padding: 10% 5%;
    }

    .homepage__title {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .homepage__form {
        width: 100%;
        @extend .centeredItem;

        padding: 2%;
        text-align: left;

        align-items: flex-start;



        input[type="text"],
        input[type="email"] {
            margin: 5% 0;
            height: 40px;
            width: 100%;
            padding: 2%;
        }

        ::placeholer {
            color: #dbdbdb;
            opacity: 1;
        }

    }

    #start__quiz--button {
        border: none;
        background: $primaryColor;
    }


    // Question page 
    .question__status--container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .questions__progressbar--container {
        width: 100%;
        height: 10px;


        .questions__progressbar {
            width: 100%;
            height: 100%;
            background: $primaryColor;
            border-radius: 15px;
        }
    }

    .questionForm {
        width: 100%;
        // border: .1em solid #000000;
        align-items: flex-start;

        .answer__suggested--container {
            width: 100%;

            text-align: left;
            // margin: 5% 0;
            position: relative;
            display: flex;


            label {
                width: 100%;
                border: $answer__border;
                padding: 2% 10%;
                margin: 2% 0;
            }

            input[type="radio"] {
                position: absolute;
                align-self: center;
                justify-self: center;
                appearance: none;
                width: 1.2em;
                height: 1.2em;
                border-radius: $rounded__border;
                border: $answer__border;
                left: 5%;

                &:checked {
                    border: none;
                    background-color: $primaryColor;
                }

                &:checked~label {
                    border: .1em solid $primaryColor;
                }
            }

        }

        .cancel__quiz--button,
        .next__question--button {
            border: none;
            padding: .8em 10%;
            width: 45%;
            color: white;

        }

        .cancel__quiz--button {
            background: #EC880C;
            margin-right: 5%;

        }

        .next__question--button {
            margin-left: 5%;
            background: $primaryColor;

            &:disabled {
                background-color: $disabledColor;
            }
        }


    }

    .back__home--button {
        @extend #start__quiz--button;
        background-color: #0880D6;
        margin: 5% 0;
        color: $white;
        padding: 5%;
        width: 50%;
    }


    // Result Page 

    .icon--success,
    .icon--failed {
        font-size: 8em;
        margin: 5% 0;


    }

    .icon--success {
        color: #028A3D;
    }

    .icon--failed {
        color: #FF3838;
    }

}